{
  "plugins": [
    "react-require",
    "babel-root-slash-import",
    "array-includes",
    "transform-class-properties",
    "transform-object-rest-spread",
    "add-react-displayname",
    "styled-components-named"
  ]
}
